@import '../../styles/colors';

.bdorg-container {
  color: black;
  background-color: white;

  .bdorg-content {
    .bdorg-top {
      width: 100%;
      //background: @black url('./imgs/org-top.png') no-repeat center;
      height: 136px;
      background-size: 100% 136px;
      overflow: hidden;
    }

    .projects-list {
      width: 100%;
      height: auto;

      a {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-bottom: 1px solid #f2f4f5;
      }
    }

    .bdorg-bottom {
      height: auto;
      width: 100%;
    }
  }
}
