

.left,
.right {
  height: 100%;
  float: left;
}

.left {
  width: 10%;
}

.right {
  width: 90%;
  padding-bottom: 10px;
  border-bottom: 1px solid #f2f4f5;
}

.metal,
.logo,
.content,
.spec {
  float: left;
  height: 100%;
  margin: 0;
}

.gold-border {
  border: 1.5px solid #e3b24b;
}

.silver-border {
  border: 1.5px solid #b3b1aa;
}

.copper-border {
  border: 1.5px solid #cb865d;
}

.normal-border {
  border: 1px solid #e7e7e7;
}

.metal {
  text-align: center;
  width: 100%;

  img {
    margin-top: 10px;
  }

  span {
    font-size: 20px;
    color: #c5ceda;
    line-height: 22px;
    text-align: center;
    font-weight: bold;
    position: relative;
    width: 12px;
    margin-top: 15px;
    display: inline-block;
  }
}

.logo {
  width: 20%;
  text-align: center;
  vertical-align: top;

  .cover {
    vertical-align: middle;
    border-radius: 5px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #fff no-repeat 50%;
    background-size: contain;
  }
}

.content {
  width: 60%;
  padding-left: 10px;

  .title {
    font-size: 16px;
    color: #222c38;
    line-height: 22px;
    font-weight: bold;
  }

  .num {
    font-size: 12px;
    color: #969fa9;
  }
}

.spec {
  width: 20%;
  font-size: 12px;
  text-align: right;
  color: #969fa9;
  padding-right: 15px;

  .top3Color {
    color: #cf9d3f !important;
    font-weight: bold;
  }

  .num {
    font-size: 23px;
    letter-spacing: 0;
    line-height: 14px;
  }

  .txt {
    margin-top: 5px;
  }
}
