

.metal,
.logo,
.content {
  display: inline-block;
}

.logo {
  height: 50px;
  width: 20%;
  text-align: center;

  .cover {
    vertical-align: middle;
    border-radius: 5px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #fff no-repeat 50%;
    background-size: contain;
    border: 1.5px solid #e3b24b;
  }
}

.metal {
  width: 5%;
  text-align: center;
  vertical-align: middle;

  span {
    font-size: 20px;
    color: #c5ceda;
    line-height: 22px;
    text-align: center;
    font-weight: bold;
    position: relative;
    width: 12px;
  }
}

.content {
  width: 75%;
  padding-left: 10px;
}
